@model IDEIBiblio.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("ManagerRole"))
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.BookID })
    }
    @if (User.IsInRole("CostumerRole"))
    {
        @Html.ActionLink("Add to cart | ", "AddBookToCart", "ShoppingCart", new { id = Model.BookID }, null)
    }
    @Html.ActionLink("Back to List", "Index")
</p>
