@{
    ViewBag.Title = "Home Page";
}

<h1>Books</h1>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Editor
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        <th>
            ISBN
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["Books"] as List<IDEIBiblio.Models.Book>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {controller = "Book", id = item.BookID })
            </td>
        </tr>
    }
</table>

<h1>Magazines</h1>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Category
        </th>
        <th>
            Editor
        </th>
        <th>
            Periodicy
        </th>
        <th>
            Price
        </th>
        <th>
            Publish
        </th>
        <th>
            Issue
        </th>
        <th>
            Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["Magazines"] as List<IDEIBiblio.Models.Magazine>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodicy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { controller = "Magazine", id = item.MagazineID })
            </td>
        </tr>
    }

</table>