
@{
    ViewBag.Title = "ManageProducts";
}

<h2>ManageProducts</h2>

<p>
    @Html.ActionLink("Author", "Index", "Author")
</p>

<p>
    @Html.ActionLink("Book", "Index", "Book")
</p>

<p>
    @Html.ActionLink("Editor", "Index", "Editor")
</p>

<p>
    @Html.ActionLink("Magazine", "Index", "Magazine")
</p>

<p>
    @Html.ActionLink("Periodicity", "Index", "Periodicity")
</p>